body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

img {
  vertical-align: top;
}

@media screen and (max-width: 991px) {
  #group-switch {
    position: absolute;
    top: 0;
    display: none;
  }
  #group-switch:checked ~ .group-nav {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
  }
  #group-switch:checked ~ .group-nav .item-close {
    left: 0;
  }
  #nav-link-lv1-home {
    display: none;
    position: absolute;
    top: 0;
  }
  #nav-link-lv1-home:checked ~ .nav-ul-lv2 {
    display: block;
  }
  #nav-link-lv1-shop {
    display: none;
    position: absolute;
    top: 0;
  }
  #nav-link-lv1-shop:checked ~ .nav-ul-lv2 {
    display: block;
  }
  #nav-link-lv1-featured {
    display: none;
    position: absolute;
    top: 0;
  }
  #nav-link-lv1-featured:checked ~ .nav-ul-lv2 {
    display: block;
  }
  #nav-link-lv1-pages {
    display: none;
    position: absolute;
    top: 0;
  }
  #nav-link-lv1-pages:checked ~ .nav-ul-lv2 {
    display: block;
  }
  #nav-link-lv1-element {
    display: none;
    position: absolute;
    top: 0;
  }
  #nav-link-lv1-element:checked ~ .nav-ul-lv2 {
    display: block;
  }
  #box-menu,
#box-login {
    display: none;
    position: absolute;
    top: 0;
  }
  #box-menu:checked ~ .item-nav,
#box-login:checked ~ .item-login {
    display: block;
  }
  #box-menu:checked ~ .item-login,
#box-login:checked ~ .item-nav {
    display: none;
  }
  .header-sunplate {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .header-sunplate .wrap-header {
    display: flex;
    justify-content: center;
  }
  .group-hamburger {
    position: absolute;
    left: 10px;
    bottom: 0;
  }
  .group-hamburger .item-hamburger {
    display: flex;
    align-items: center;
    width: 40px;
  }
  .group-hamburger .icon-hamburger {
    width: 40px;
    height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .group-hamburger .icon-hamburger .hamburger-line {
    margin: 0 5px;
    height: 2px;
    width: 30px;
    display: block;
    background-color: #518432;
  }
  .group-hamburger .icon-hamburger .hamburger-line.hamburger-line-center {
    width: 50%;
  }
  .group-hamburger .icon-hamburger .hamburger-line.hamburger-line-bottom {
    width: 30%;
  }
  .group-logo .item-logo {
    padding-top: 20px;
    width: 120px;
  }
  .group-logo .logo-title {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  .group-logo .logo-img {
    width: 100%;
  }
  .group-nav {
    position: fixed;
    bottom: 0;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: 1s;
    overflow: auto;
    display: flex;
    flex-direction: column;
  }
  .group-nav .item {
    width: 300px;
  }
  .group-nav .item-switch {
    display: flex;
  }
  .group-nav .box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .group-nav .box-menu {
    width: 50%;
    background-color: black;
    color: white;
    border-bottom: 1px solid black;
  }
  .group-nav .text-menu {
    padding-left: 10px;
    line-height: 50px;
    font-size: 14px;
  }
  .group-nav .text {
    padding-left: 10px;
    cursor: pointer;
  }
  .group-nav .box-login {
    border-bottom: 1px solid #cccccc;
    background-color: white;
    color: black;
  }
  .group-nav .box-login .icon-login {
    font-size: 22px;
  }
  .group-nav .icon-hamburger {
    width: 20px;
    height: 20px;
  }
  .group-nav .hamburger-line {
    display: block;
    height: 2px;
    background-color: white;
    margin-bottom: 5px;
  }
  .group-nav .hamburger-line.hamburger-line-top {
    margin-top: 2px;
  }
  .group-nav .hamburger-line.hamburger-line-center {
    width: 70%;
  }
  .group-nav .box-login {
    width: 50%;
  }
  .group-nav .item-nav {
    background-color: white;
    flex-grow: 1;
  }
  .group-nav .nav-ul .nav-ul {
    display: none;
  }
  .group-nav .nav-ul-lv1 {
    box-sizing: border-box;
    padding: 20px;
  }
  .group-nav .nav-li-lv1 {
    display: flex;
    flex-wrap: wrap;
  }
  .group-nav .nav-li-lv1 .nav-link-lv1 {
    width: 90%;
    box-sizing: border-box;
  }
  .group-nav .nav-li-lv1 .wrap-control-lv1 {
    text-align: end;
    font-size: 26px;
    font-weight: 300;
    width: 10%;
    box-sizing: border-box;
    cursor: pointer;
  }
  .group-nav .nav-link-lv1 {
    box-sizing: border-box;
    padding-bottom: 30px;
    font-size: 16px;
  }
  .group-nav .nav-ul-lv2 {
    padding-bottom: 20px;
  }
  .group-nav .nav-li-lv2 {
    padding-bottom: 30px;
  }
  .group-nav .nav-li-lv2 .nav-link-lv2 {
    margin-bottom: 7px;
    font-size: 15px;
    margin-left: 5px;
  }
  .group-nav .item-login {
    display: none;
  }
  .group-nav .item-close {
    position: fixed;
    bottom: 0;
    left: -100%;
    color: white;
    background-color: #518432;
    font-size: 12px;
    line-height: 50px;
    transition: 1s;
  }
  .group-nav .nav-link-lv2-underline {
    background-color: #518432;
    display: block;
    width: 70px;
    height: 2px;
    margin-bottom: 7px;
    margin-left: 5px;
  }
  .group-nav .nav-link-lv3 {
    font-size: 14px;
    padding: 5px 0;
    margin-left: 10px;
  }
  .group-nav .item-login {
    text-align: center;
    flex-grow: 1;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .group-nav .item-login .box-icon {
    font-size: 32px;
    padding: 30px 0;
  }
  .group-nav .item-login .user-input {
    width: 90%;
    height: 30px;
    margin-bottom: 20px;
  }
  .group-nav .user-input-forgot {
    font-size: 12px;
    text-align: start;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .group-nav .user-input-btn {
    background-color: black;
    color: white;
    width: 90%;
    margin: auto;
    font-size: 14px;
    padding: 15px 0;
    letter-spacing: 4px;
  }
  .group-nav .box-or {
    margin: 20px 10px;
  }
  .group-nav .box-or::after,
.group-nav .box-or::before {
    content: "";
    height: 1px;
    background-color: #cccccc;
    flex-grow: 1;
    margin: 0 10px;
  }
  .group-nav .box-Register {
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
  }
  .group-user {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    font-size: 20px;
    align-items: flex-end;
    color: #518432;
  }
  .group-user .item {
    text-align: center;
    padding: 0 10px;
  }
  .group-user .item-user {
    display: none;
  }
  .group-user .item-cart {
    display: flex;
    flex-direction: column;
  }
  .group-user .cart-number {
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */