.sunplant {
  margin: auto;
  text-align: center;
  max-width: 1200px;

  &-item {
    margin-bottom: 70px;
  }
}

#sunplant-header-switch {
  // position: absolute;
  // z-index: 100;
  // display: none;
}

#sunplant-header-switch:checked ~ .sunplant-header-main-menu {
  // left: 0;
}

.sunplant-header {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: center;
  position: sticky;
  top: 0;
  background-color: white;
  &-switch {
    // position: absolute;
    // left: 10px;
    &-span {
    }
    .hamburger-top {
    }
    .hamburger-center {
    }
    .hamburger-bottom {
    }
  }

  &-main-menu {
    // display: none;
    &-this-and-login {
      &-menu {
      }
      &-login {
      }
    }
    &-nav {
      // position: absolute;
      // left: 0;
      &-ul-lv1 {
        // display: flex;
        &-li {
          // padding: 10px 15px;
          // font-size: 14px;

          // font-weight: 600;
        }
      }
    }
    &-close {
    }
  }

  &-logo {
    &-img {
      padding-top: 15px;
      width: 50%;
      vertical-align: bottom;
    }
    &-h1 {
      width: 1px;
      height: 1px;
      overflow: hidden;
    }
  }
  &-person-area {
    position: absolute;
    right: 0;
    font-size: 25px;
    i {
      margin: 0 5px;
    }
  }
}

.sunplant-new-product {
  display: flex;

  justify-content: center;
  padding: 20px 0;

  background-image: url(./pic/bg-slide10.webp);

  &-content {
    width: 50%;
    display: flex;
    justify-content: flex-end;

    &-item {
      text-align: start;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-title {
      font-size: 36px;
      line-height: 1.1;
      margin-bottom: 5px;
    }
    &-money {
      font-size: 24px;
      padding-bottom: 20px;
    }
    &-shop-link {
      display: inline-block;
      width: 40%;
      text-align: center;

      letter-spacing: 2px;
      padding: 15px 20px;
      background-color: black;
      font-size: 12px;
      color: white;
    }
  }
  &-pic {
    width: 50%;

    &-img {
      width: 100%;
      vertical-align: middle;
    }
  }
}

.sunplant-important-benefits {
  padding: 0 30px;

  &-title {
    color: #518432;
    line-height: 1.5;
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 40px;
  }
  &-text {
    color: #b3b4b3;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
  }
  &-container-group {
    &-item {
      text-align: left;
      margin-bottom: 40px;
      &-title {
        font-size: 24px;
        font-weight: 800;
        line-height: 2;
      }
      &-text {
        color: #b3b4b3;
        line-height: 1.5;
      }
    }
    &-pic {
      &-img {
        width: 100%;
        vertical-align: bottom;
      }
    }
  }
}
.sunplant-staff-pick {
  &-title {
    font-size: 32px;
    font-weight: 600;
    color: #518432;
    margin-bottom: 50px;
  }
  &-group {
    display: flex;
    flex-wrap: wrap;
    &-item.col {
      padding-right: 10px;
      padding-left: 10px;
      margin-bottom: 50px;
    }
    &-item {
      &-pic {
        &-img {
          width: 100%;
          vertical-align: top;
        }
        &-img-before {
        }
        &-img-after {
          display: none;
        }
      }
      &-content {
        &-title {
          margin: 20px 0;
          font-size: 16px;
          font-weight: 700;
        }
        &-price {
          font-size: 18px;
          font-weight: 700;
          &-origianl-price {
            &.have-discount {
              font-size: 14px;
            }
          }
          &-discount-price {
          }
        }
      }
    }
  }
}

.sunplant-accessories {
  padding: 100px 10px;
  background-image: url(./pic/bg-video1.jpg);
  &-content {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-title {
      color: #518432;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    &-text {
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 40px;
    }
    &-shop-link {
      color: #000;
      display: inline-block;
      width: 160px;
      text-align: center;

      padding: 15px 0;
      letter-spacing: 2.5px;
      border: 1px solid #000;
    }
  }
  &-video {
    width: 100%;
    aspect-ratio: 560/315;
    &-iframe {
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
  }
}

.sunplant-instagram {
  &-icon {
    font-size: 80px;
  }
  &-title {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 20px 0 70px 0;
  }
  &-commodities-list {
    display: flex;
    flex-wrap: wrap;
    & &-commodity:nth-child(3) {
      display: none;
    }
    & &-commodity:nth-child(4) {
      display: none;
    }
    &-commodity {
      &-img {
        width: 100%;
        vertical-align: top;
      }
    }
  }
}

.sunplant-footer {
  background-color: #f4f4f4;
  padding: 55px 0;
  &-title {
    width: 1px;
    height: 1px;
    overflow: hidden;
  }
  &-logo {
    width: 150px;
    margin: auto;
    margin-bottom: 30px;
    &-img {
      width: 100%;
      vertical-align: top;
    }
  }
  &-our-information-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    &-item {
      padding: 5px 10px;
      &-link {
        display: inline-block;
        color: #000000;

        font-size: 12px;
        letter-spacing: 1.5px;
        font-weight: 700;
      }
      &-text {
      }
    }
  }

  &-our-social-media-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    &-item {
      width: 45px;
      height: 45px;
      margin: 10px 10px;

      background-color: #222222;

      border-radius: 50%;
      overflow: hidden;

      &-icon {
        line-height: 44px;

        display: block;
        color: white;
      }
    }
  }
  &-design-by {
    color: #adb3ba;
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  // 手機 nav

  #sunplant-header-switch {
    position: absolute;
    // z-index: 300;
    // display: none;
  }

  #sunplant-header-switch:checked ~ .sunplant-header-main-menu {
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    // left: 0;
    margin: auto;
  }

  .sunplant-header {
    // display: flex;
    // align-items: flex-end;
    // width: 100%;
    // justify-content: center;
    // position: sticky;
    // top: 0;
    // background-color: white;
    &-switch {
      position: absolute;
      // z-index: 1;
      width: 35px;
      height: 35px;
      left: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-content: flex-start;
      top: 0;
      bottom: 0;
      margin: auto;

      &-span {
        display: block;
        background-color: #518432;
        height: 2px;
        border-radius: 1px;
      }
      .hamburger-top {
        width: 80%;
      }
      .hamburger-center {
        width: 50%;
      }
      .hamburger-bottom {
        width: 30%;
      }
    }

    &-main-menu {
      position: fixed;
      left: -100%;
      // z-index: 200;

      display: flex;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.677);
      transition: 1s;

      &-container {
        position: fixed;
        width: 300px;
        top: 0;
        bottom: 0;
        background-color: #ffffff;
      }
      &-this-and-login {
        border-bottom: 1px solid #cccccc;
        width: 300px;
        display: flex;
        height: 50px;
        position: relative;
        z-index: 500;
        // background-color: rgb(231, 69, 69);
        &-menu {
          width: 50%;
          color: white;
          background-color: #000;
          display: flex;
          justify-content: center;
          align-items: center;
          .hamburger-menu {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            // align-items: center;
            height: 30px;
            width: 30px;
            // padding-left: 50px;

            .sunplant-header-span {
              width: 20px;
              height: 2px;
              background-color: white;
            }
            .hamburger-center {
              width: 15px;
            }
          }
          // margin: auto;
        }

        &-login {
          width: 50%;
          color: #000;
          background-color: #ffffff;

          position: relative;
          span {
            padding: 0 10px;
          }
          .txt-login {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
          }
        }
      }
      &-nav {
        width: 300px;
        text-align: start;
        background-color: white;
        // position: absolute;
        // left: 0;
        &-ul-lv1 {
          padding: 20px 10px;
          // display: flex;
          &-li {
            // padding: 20px 20px;

            font-size: 14px;

            font-weight: 600;
            a {
              display: block;
              color: #000;
              text-decoration: none;
              padding: 15px 20px;
              font-size: 18px;
              font-weight: 400;
            }
          }
        }
      }

      .sunplant-header-switch-close {
        font-size: 18px;
        padding: 15px 0;
        display: block;
        color: white;
      }
      &-close {
        width: 300px;

        justify-self: flex-end;
        position: absolute;
        bottom: 0;

        background-color: #518432;
      }
    }

    &-logo {
      &-img {
        // padding-top: 15px;
        // width: 50%;
        // vertical-align: bottom;
      }
      &-h1 {
        // width: 1px;
        // height: 1px;
        // overflow: hidden;
      }
    }
    &-person-area {
      // position: absolute;
      // right: 0;
      // font-size: 25px;
      i {
        // margin: 0 5px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .sunplant {
    &-item {
    }
  }

  #sunplant-header-switch {
    position: absolute;
    // display: none;
    &-span {
      // background-color: #518432;
      // height: 2px;
    }
    .hamburger-top {
    }
    .hamburger-center {
    }
    .hamburger-bottom {
    }
  }

  .sunplant-header {
    &-switch {
      // position: absolute;
      // left: 10px;
    }

    &-main-menu {
      // display: none;
      &-this-and-login {
        &-menu {
        }
        &-login {
        }
      }
      &-nav {
        // position: absolute;
        left: 0;
        &-ul-lv1 {
          // display: flex;
          &-li {
            // padding: 10px 15px;
            // font-size: 14px;

            // font-weight: 600;
          }
        }
      }
      &-close {
      }
    }

    &-logo {
      &-img {
      }
      &-h1 {
      }
    }
    &-person-area {
      i {
      }
    }
  }

  .sunplant-new-product {
    padding: 70px 0;

    &-content {
      justify-content: center;

      &-item {
      }
      &-title {
        font-size: 46px;
      }
      &-money {
      }
      &-shop-link {
      }
    }
    &-pic {
      &-img {
      }
    }
  }

  .sunplant-important-benefits {
    &-title {
      font-size: 30px;
    }
    &-text {
    }
    &-arrange-switch {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    & &-container-group:nth-child(1) &-container-group-item {
      text-align: right;
    }

    &-container-group {
      width: 50%;
      box-sizing: border-box;
      padding: 0 20px;

      &-item {
        &-title {
        }
        &-text {
        }
      }
      &-pic {
        order: -1;
        width: 60%;
        &-img {
        }
      }
    }
  }
  .sunplant-staff-pick {
    &-title {
    }
    &-group {
      &-item.col {
      }
      &-item {
        &-pic {
          &-img {
          }
          &-img-before {
          }
          &-img-after {
          }
        }
        &-content {
          &-title {
          }
          &-price {
            &-origianl-price {
              &.have-discount {
              }
            }
            &-discount-price {
            }
          }
        }
      }
    }
  }

  .sunplant-accessories {
    display: flex;

    &-content {
      &-title {
      }
      &-text {
      }
      &-shop-link {
      }
    }
    &-video {
      &-iframe {
      }
    }
  }

  .sunplant-instagram {
    &-icon {
    }
    &-title {
      font-size: 28px;
      font-weight: 600;
    }
    &-commodities-list {
      & &-commodity:nth-child(3) {
        display: block;
      }
      & &-commodity:nth-child(4) {
      }
      &-commodity {
        &-img {
        }
      }
    }
  }

  .sunplant-footer {
    &-title {
    }
    &-logo {
      &-img {
      }
    }
    &-our-information-list {
      &-item {
        &-link {
        }
        &-text {
        }
      }
    }

    &-our-social-media-list {
      &-item {
        &-icon {
        }
      }
    }
    &-design-by {
    }
  }
}

@media screen and (min-width: 992px) {
  // 非手機的 nav
  #sunplant-header-switch {
    position: absolute;
    // z-index: 300;
    display: none;
  }

  .sunplant-header {
    &-main-menu {
      &-container {
      }
      &-this-and-login {
        display: none;
      }

      &-nav {
        padding: 0 15px;
        position: absolute;
        left: 0;
        bottom: 0;
        &-ul-lv1 {
          display: flex;
          &-li {
            a {
              color: #000;
              text-decoration: none;
              padding: 10px 15px;
              display: block;
              font-weight: 700;
            }
          }
        }
      }

      .sunplant-header-switch-close {
        display: none;
      }
      &-close {
        display: none;
      }
    }

    &-logo {
      &-img {
      }
      &-h1 {
      }
    }
    &-person-area {
      i {
      }
    }
  }

  .sunplant-new-product {
    padding: 70px 0;

    &-content {
      justify-content: center;

      &-item {
      }
      &-title {
        font-size: 60px;
      }
      &-money {
      }
      &-shop-link {
      }
    }
    &-pic {
      &-img {
      }
    }
  }

  .sunplant-important-benefits {
    &-title {
      font-size: 30px;
    }
    &-text {
    }
    &-arrange-switch {
      flex-wrap: nowrap;

      justify-content: center;
      align-content: space-around;
      align-items: center;
    }

    & &-container-group:nth-child(1) &-container-group-item {
    }

    &-container-group {
      &-item {
        &-title {
        }
        &-text {
        }
      }
      &-pic {
        order: 0;

        &-img {
        }
      }
    }
  }
  .sunplant-staff-pick {
    &-title {
    }
    &-group {
      &-item.col {
      }
      &-item {
        &-pic {
          &-img {
          }
          &-img-before {
          }
          &-img-after {
          }
        }
        &-content {
          &-title {
          }
          &-price {
            &-origianl-price {
              &.have-discount {
              }
            }
            &-discount-price {
            }
          }
        }
      }
    }
  }

  .sunplant-accessories {
    &-content {
      &-title {
      }
      &-text {
      }
      &-shop-link {
      }
    }
    &-video {
      &-iframe {
      }
    }
  }

  .sunplant-instagram {
    &-icon {
    }
    &-title {
    }
    &-commodities-list {
      & &-commodity:nth-child(3) {
      }
      & &-commodity:nth-child(4) {
        display: block;
      }
      &-commodity {
        &-img {
        }
      }
    }
  }

  .sunplant-footer {
    &-title {
    }
    &-logo {
      &-img {
      }
    }
    &-our-information-list {
      &-item {
        &-link {
        }
        &-text {
        }
      }
    }

    &-our-social-media-list {
      &-item {
        &-icon {
        }
      }
    }
    &-design-by {
    }
  }
}

@media screen and (min-width: 1200px) {
  // 非手機的 nav
}
