.common-problem-container {
    .search-area {
        margin-bottom: 50px;
        height: 210px;
        .slogan {
            font-weight: 700;
            margin-bottom: 10px;
        }
        .search-input {
            border: 0px;
        }

        .search-btn {
            width: 60px;
            color: white;
            background-color: var(--clr-primary);
            border: 0px;
            // background-color: ;
        }
        .hot-search {
            font-size: 12px;
            letter-spacing: 1px;
        }
        .hot-search-link {
            text-decoration: none;
        }
    }

    .help-container {
        .title {
            font-weight: 700;
            font-size: 20px;
            line-height: 33px;
            color: var(--clr-font);
        }
        .icon {
            width: 50px;
            margin: 20px 15px;
        }
        .text {
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            margin-left: 10px;
        }
        .list-group-item {
            border-color: var(--clr-border);
            &:hover {
                background-color: transparent;
                // box-shadow: ;
                box-shadow: 0 0 0 0.05rem var(--clr-border);
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .common-problem-container {
        .search-container {
            .container {
                max-width: 768px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .common-problem-container {
        .search-area {
            height: 255px;
        }
        .slogan {
            font-size: 28px;
            line-height: 44px;
        }
    }
}
